<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>{% block title %}{% endblock %}</title>
	<link rel="stylesheet" href="/assets/css/main.css" type="text/css" media="all"/>
	<link href="http://fonts.googleapis.com/css?family=Wire+One:regular" rel="stylesheet" type="text/css" >
	<link href='http://fonts.googleapis.com/css?family=Six+Caps' rel='stylesheet' type='text/css'>

	<!--<script src="https://www.gogle.com/jsapi?key=ABQIAAAA2IrREsbRfaxl6RnOyXG3OhSQksDmXtqmYCYAwE64PwRNrFlMkBQd15lAxRKt6bIi1RskG0BrKa-QQw" type="text/javascript"></script>-->
	<script src="https://www.google.com/jsapi?key=ABQIAAAA2IrREsbRfaxl6RnOyXG3OhTwM0brOpm-All5BF6PoaKBxRWWERTM9DKv9dz-rxrdlWNPETpmtuRz5w" type="text/javascript"></script>
	<script type="text/javascript" src="/assets/js/head.min.js"></script>
	<script type="text/javascript" src="/assets/js/main.js"></script>
</head>
<body>
	<div class="container_12">
		<div class="grid_9">
			<div id="logo">
			    Hyangnam International Community
			</div>
		</div>
		<div class="grid_3">
		{% if user %}
			Welcome, {{ user.nickname }}
			<ul id="personal-menu">
				<li><a href="{{ logout_url }}">logout</a></li>
				<li><a href="{{ profile_url }}">profile</a></li>
				{% if is_admin %}
				    <li><a href="/admin/">admin</a></li>
				{% endif %}
			</ul>
		{% else %}
			<a href="{{ login_url }}">LOGIN</a>
			with your Google Account
		{% endif %}
		</div>
		<ul id="menu">
		    <li class="menu-item grid_3"><a href="/about/">ABOUT</a></li>
			<li class="menu-item grid_3"><a href="/forum/">FORUM</a></li>
			<li class="menu-item grid_3"><a href="/places/">PLACES</a></li>
			<li class="menu-item grid_3"><a href="/language/">LANGUAGE CENTER</a></li>
		</ul>
		<div id="bcbar" class="grid_9">
		    breadcrumb
		</div>
		<div id="searchbar" class="grid_3">
			<form action="/search" method="post">
				<input type="text" name="keyword" id="keyword" />
				<input type="submit" value="search" />
			</form> 
		</div>
		<div class="grid_9">
			{% block content %}
			{% endblock content%}
		</div>
		<div class="grid_3">
			{% block sidebar %}
			{% endblock sidebar %}
		</div>

		<hr>
		<div class="grid_12">
			footer
		</div>
	</div>
</body>
</html>