<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>{% block title %}{% endblock %}</title>
	<link rel="stylesheet" href="/assets/css/screen.css" type="text/css" media="screen, projection"/>
	<link rel="stylesheet" href="/assets/css/print.css" type="text/css" media="print"/>
	<!--[if lt IE 8]>
		<link rel="stylesheet" href="/assets/css/ie.css" type="text/css" media="screen, projection"/>
	<![endif]-->
	<link rel="stylesheet" href="/assets/css/main.css" type="text/css" media="all"/>
	<link href="http://fonts.googleapis.com/css?family=Wire+One:regular" rel="stylesheet" type="text/css" >
	<link href='http://fonts.googleapis.com/css?family=Six+Caps' rel='stylesheet' type='text/css'>

	<!--<script src="https://www.gogle.com/jsapi?key=ABQIAAAA2IrREsbRfaxl6RnOyXG3OhSQksDmXtqmYCYAwE64PwRNrFlMkBQd15lAxRKt6bIi1RskG0BrKa-QQw" type="text/javascript"></script>-->
	<script src="https://www.google.com/jsapi?key=ABQIAAAA2IrREsbRfaxl6RnOyXG3OhTwM0brOpm-All5BF6PoaKBxRWWERTM9DKv9dz-rxrdlWNPETpmtuRz5w" type="text/javascript"></script>
	<script type="text/javascript" src="/assets/js/head.min.js"></script>
	<script type="text/javascript" src="/assets/js/main.js"></script>
</head>
<body>
	<div class="container">
		<div class="span-2 border">
			<h1>HIC</h1>
		</div>
		<div id="navbar" class="span-16 border">
			<ul id="menu">
				<li class="menu-item"><a href="/forum/">FORUM</a></li>
				<li class="menu-item"><a href="/places/">PLACES</a></li>
				<li class="menu-item"><a href="/language/">LANGUAGE CENTER</a></li>
				{% if is_admin %}
					<li class="menu-item"><a href="/admin/">ADMIN</a></li>
				{% endif %}
			</ul>
		</div>
		<div class="span-6 last">
		{% if user %}
			<h5>Welcome, {{ user.nickname }}</h5>
			<ul id="personal-menu">
				<li><a href="{{ logout_url }}">logout</a></li>
				<li><a href="{{ profile_url }}">profile</a></li>
			</ul>
		{% else %}
			<a href="{{ login_url }}"><h3>LOGIN</h3></a>
			<h5>with your Google Account</h5>
		{% endif %}
		</div>
		<hr>
		<div id="bcbar" class="span-18">
		    breadcrumb
		</div>
		<div id="searchbar" class="span-6 last">
			<form action="/search" method="post">
				<input type="text" name="keyword" id="keyword" />
				<input type="submit" value="search" />
			</form> 
		</div>
		<hr>
		<div class="span-18 border">
			{% block content %}
			{% endblock content%}
		</div>
		<div class="span-6 last">
			{% block sidebar %}
			{% endblock sidebar %}
		</div>

		<hr>
		<div class="span-24">
			footer
		</div>
	</div>
</body>
</html>