{% extends "base.html" %}

{% block title %}HIC : Admin Page{% endblock title %}

{% block sidebar %}
sidebar
{% endblock sidebar %}

{% block content %}
{{ category }}
<br />
title: {{ post.title }}
<br />
author: {{ post.author.nickname }}
<br />
content: {{ post.content }}
<div>
    <a href="/forum/{{ category }}/{{ post.idx }}/modify-form">modify</a>
    <a href="/forum/{{ category }}/{{ post.idx }}/delete">delete</a>
</div>
<div>
    <a href="/forum/{{ category }}/page/{{ page }}">list</a>
</div>
{% endblock content %}