{% extends "base.html" %}

{% block title %}HIC - Forum - {{ category.name }}{% endblock title %}

{% block sidebar %}
sidebar
{% endblock sidebar %}

{% block content %}
{{ category.name }}
<div>
    
<br />
    {% for topic in topics %}
        <div>
            <a href="/forum/{{ topic.key.id }}/page/1">{{ topic.head_post.title }}</a>
            <a href="#">{{ topic.author.name }}</a>
            <br>
            {{ post.creation }}
        </div>
    {% endfor %}
<br />
{{ page }}
<a href="/forum/{{ category.code }}/new-topic-form">write</a>
{% endblock content %}