{% extends "base.html" %}

{% block title %}HIC - Forum - New Reply{% endblock title %}

{% block sidebar %}
sidebar
{% endblock sidebar %}

{% block content %}
{{ category }}
<form action="/forum/{{ topic.key.id }}/{% if for_modify %}{{ post.key.id }}/modify{% else %}new-reply{% endif %}" method="post">
    <div>
        <label for="title">TITLE</label>
        <input type="text" name="title" id="title" 
            {% if for_modify %}
                value="{{ post.title }}"
            {% endif %}
        />
    </div>
    <div>
        <label for="content">CONTENT</label>
        <textarea name="content" rows="15" cols="60">{% if for_modify %}{{ post.content }}{% endif %}</textarea>
    </div>
    <div>
        <input type="submit" value="post" />
    </div>
</form>
{% endblock content %}