h1 {
	font-family: 'Six Caps';
	font-size: 4em;
	font-weight: 200;
}

#personal-menu {
	list-style-type: none;
}

#personal-menu li {
	float: left;
}

#navbar {
}

#menu {
	list-style-type: none;
}

#menu li {
	font-family: 'Georgia';
	font-size: 1.2em;
	
	background-color: rgb(30, 255, 35);
	float: left;
}